.DS_Store
src/board/__pycache__/
src/board/logs/
data/model/
data/play_data/
logs/
src/ai_non_nostra/__pycache__/
src/training/__pycache__/
src/ai/__pycache__/
chess.code-workspace
src/board/scores.txt
.vscode